

body{
	background-image: url(https://images.pexels.com/photos/1181298/pexels-photo-1181298.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
	font-family: 'Secular One', sans-serif;
	backface-visibility: 50%;
}


#navbg{
	background-color: darkolivegreen;
}


#icon1{
	font-size: 2rem;
	color: navajowhite;
}

#simple-nav{
	font-family: 'Dancing Script', cursive;
	font-size: 1.2rem;
	font-weight: bold;
}

#columnpic{
	background-color: navajowhite;
	background-image: url(https://static.vecteezy.com/system/resources/previews/001/372/961/large_2x/abstract-geometric-purple-pink-yellow-background-free-vector.jpg);
	background-size: cover;
}



#myname{
	font-family: 'Pacifico', cursive;
}

#banner{
	background-color: mistyrose;
}

#boxintro{
	background-color: lightgrey;
}
#intro{
	font-family: 'Fredoka One', sans-serif;
	font-size: 2rem;
	font-weight: bold;
	color: brown;
}

#intro2{
	font-family: 'Ramaraja', serif;
	font-size: 1.8rem;
	font-weight: bold;
	color: darkgreen;

}

#icon2{
	font-size: 2rem;
	color: black;

}


#page-footer{
	font-family: 'Dancing Script', cursive;
	font-size: 1.2rem;
	font-weight: bold;
	color: navajowhite;
}
footer{
	background-color: darkolivegreen;
}